/* Dashboard.css */

.dashboard-container {
    top: 100px;
    position: relative;
    z-index: 1;
    height: calc(100vh - 100px); /* Adjust height to fit below top bar */
    overflow-y: auto; /* Allow vertical scrolling */
}

.overlay {
    position: relative;
    z-index: 1;
    color: #fff;
    margin-left: 13%;
    padding-bottom: 20px; /* Add padding for bottom space */
}

/* Rest of your CSS remains unchanged */

.tableHeaderContainer {
    margin-bottom: 16px; /* Maintain the height of the table header section */
}

.tableHeader {
    font-weight: bold;
    padding: 8px 0;
    margin: 0;
    text-align: center;
}

.tableRow {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.tableContent {
    padding: 4px 0; /* Reduced padding */
    text-align: center;
}

.actionColumn {
    text-align: center;
}

.resumeButton {
    background-color: #000000;
    color: #fff;
    font-size: 0.875rem; /* Adjust button font size */
    padding: 4px 8px; /* Adjust button padding */
}

.heading {
    text-align: center;
    margin-bottom: 16px; /* Space below the heading */
}

/* Responsive styling */
@media (max-width: 600px) {
    .tableHeader {
        font-size: 0.8rem; /* Smaller font size for mobile view */
    }

    .tableContent {
        font-size: 0.8rem; /* Smaller font size for mobile view */
    }

    .resumeButton {
        font-size: 0.75rem; /* Smaller font size for button on mobile */
        padding: 2px 6px; /* Smaller padding for button on mobile */
    }
}
/* Styles for the background video */
#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1; /* Ensure video is behind the content */
    object-fit: cover; /* Makes the video cover the entire viewport */
}

/* Dashboard container overlay */
.dashboard-container {
    top: 100px;
    position: relative;
    z-index: 1;
}
.card-1, .card-2, .card-3{
    display: flex;
    align-items: center;
    background: linear-gradient(315deg,rgb(0, 0, 0),rgb(138, 136, 136),rgb(206, 164, 14));
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.718);
    color: white;
    
}
.card-4{
    background: linear-gradient(315deg,rgba(206, 164, 14),rgb(138, 136, 136),rgb(0, 0, 0));
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.718);
    color: white;
}
